[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/treybertram06/spdlog.git
	branch = v1.x
[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/treybertram06/glfw.git
	branch = master
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/treybertram06/glm.git
	branch = master
[submodule "engine/vendor/imgui"]
	path = engine/vendor/imgui
	url = https://github.com/treybertram06/imgui.git
	branch = docking
[submodule "engine/vendor/entt"]
	path = engine/vendor/entt
	url = https://github.com/treybertram06/entt.git
	branch = main
[submodule "vendor/yaml-cpp"]
	path = vendor/yaml-cpp
	url = https://github.com/treybertram06/yaml-cpp.git
	branch = master
[submodule "vendor/imguizmo"]
	path = vendor/imguizmo
	url = https://github.com/treybertram06/ImGuizmo.git
	branch = master
[submodule "vendor/box2d"]
	path = vendor/box2d
	url = https://github.com/treybertram06/box2d.git
	branch = main
[submodule "engine/vendor/spirv-cross"]
	path = engine/vendor/spirv-cross
	url = https://github.com/treybertram06/SPIRV-Cross.git
[submodule "engine/vendor/shaderc"]
	path = engine/vendor/shaderc
	url = https://github.com/treybertram06/shaderc.git
[submodule "engine/vendor/glslang"]
	path = engine/vendor/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "engine/vendor/spirv-tools"]
	path = engine/vendor/spirv-tools
	url = https://github.com/KhronosGroup/SPIRV-Tools.git
[submodule "engine/vendor/spirv-headers"]
	path = engine/vendor/spirv-headers
	url = https://github.com/KhronosGroup/SPIRV-Headers.git
[submodule "engine/vendor/sol2"]
	path = engine/vendor/sol2
	url = https://github.com/treybertram06/sol2
[submodule "engine/vendor/lua"]
	path = engine/vendor/lua
	url = https://github.com/treybertram06/lua
[submodule "engine/vendor/tinygltf"]
	path = engine/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "engine/vendor/enkiTS"]
	path = engine/vendor/enkiTS
	url = https://github.com/dougbinks/enkiTS.git
